body{
    background-color: rgb(25, 24, 24);
    margin: 0;
    padding: 0;
}
.logo{
    height:100%;   
    width: auto;
    padding-right: 1rem;
 
}
.logoConteiner{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 6rem;
    justify-content: space-between;
}
.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 3rem;
    background-color: gold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    font-weight: 400;
}

.listaMenu{
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
.listaMenu li:hover{
   color: rgb(245, 245, 245);
}

.portada{
    background-image: url(/img/portada1.png);
    height: 40rem;
    width: 100%;
    background-size: cover;
}

.titulo{
    font-size: 4rem;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(25, 24, 24);
    color: white;
    padding: 2rem;
}
.info{
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 6rem;
    height: auto;
}
.infoParrafo{
   padding: 1rem 4rem;
   font-size: 1.3rem;
}
.subtitulo{
    width: 80%;
    padding-left: 4rem ;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.infoLista{
padding-left:  6rem;
   font-size: 1.1rem;
}
.galeria{
    display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      margin: 0;
      padding: 6rem;
      gap: 2rem;
     min-width: 1vw;
     align-items: center;
     justify-content: center;
    
      
}
.itemFoto{
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: end;
    width: auto;
    
   
}
.itemFoto span{
    padding: 2rem;

}

.sectionFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.tituloContacto{
    font-size: 4rem;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 2rem;
    width: 100%;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    background-color: white;
    padding: 25px;
    height: 30rem;
    border-radius: 5px;
    margin-bottom: 10rem;

}
.label{
   width: auto;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
}
.formulario input {
    width: 100%;
    height: 3rem;
    border: 1px solid rgba(128, 128, 128, 0.501);
    border-radius: 5px;
    font-size: larger;
    margin-bottom: 20px;
}

.btn
{
 background-color: rgb(25, 24, 24);
 width: 100%;
 height: 3rem;
 color: white;
 border-radius: 5px;
 border:none
}
.msj{
    width: 100%;
    min-height:6rem ;
    height: auto;
    font-size: larger;
    margin-bottom: 2rem;
    border: 1px solid rgba(128, 128, 128, 0.501);
    border-radius: 5px;
}

.footer{ 
    background-color: white;
    width: 100% ;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    
}

.footer p{
    min-width: 15%;
    margin-right: 4rem;
    text-align: end;
}
.grupoIconos{
    margin-left: 4rem;
  min-width: 15%;
    
}

.redIcono{
    height: 2rem;
    margin-left: 1rem;
}
