$negro: rgb(0, 0, 0);
$oro: gold;
$blanco: #fff;
$gris-borde: rgba(128, 128, 128, 0.501);

$fuente-principal: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fuente-secundaria: Arial, Helvetica, sans-serif;



