@use './scss/variables';
@use './scss/mixins';



// ESTILOS GLOBALES

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: variables.$negro;
}



// NAVBAR

.navbar {
  font-family: variables.$fuente-principal;
  height: 3rem;
  background-color: variables.$oro;
  @include mixins.flex-center(row, space-between);
  padding: .5rem;
  font-weight: 400;

  a {
    text-decoration: none;
    color: black;
  }

  .logoConteiner {
    @include mixins.flex-center(row, space-between);
    height: 100%;
    min-width: 6rem;}
  
  .nombreEncabezado {
margin-bottom: 0; 
}
    .logo {
      height:100%;   
      width: auto;
      padding-right: 1rem;
    }
  }

  .listaMenu {
    @include mixins.flex-center(row, space-around);
    width: 25rem;
    list-style: none;
    margin: 0;
    font-family: variables.$fuente-secundaria;

    li:hover {
      color: rgb(245, 245, 245);
    }
  }




// PORTADA

.portada {
  background-image: url('./img/portada1.png');
  height: 40rem;
  width: 100%;
  background-size: cover;
}

.titulo {
  font-size: 4rem;
  font-family: variables.$fuente-principal;
  text-align: center;
  background-color: variables.$negro;
  color: white;
  padding: 2rem;
}



// SECCIÓN INFO

.info {
  background-color: variables.$blanco;
  padding: 1rem 0 6rem 0;

  .infoParrafo {
    padding: 1rem 4rem;
    font-size: 1.3rem;
  }

  .subtitulo {
    width: 80%;
    padding-left: 4rem;
    font-size: 1.2rem;
    font-family: variables.$fuente-secundaria;
  }

  .infoLista {
    padding-left: 6rem;
    font-size: 1.1rem;
  }
}

.btn-productos{
  color: variables.$oro;
  font-family: variables.$fuente-principal;
  text-decoration: none;
  font-size: 2rem;
  @include mixins.flex-center(column);
  align-items: center;

  animation: mover 3s ease-in-out infinite alternate;
  @keyframes mover {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(10px); 
    }
  }
}


// GALERÍA
.tituloProductos{
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  color: variables.$blanco;
}
.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 6rem;
  align-items: center;
  justify-content: center;
  min-width: 1vw;
  background-color: variables.$blanco;

  .itemFoto {
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: end;

    span {
      padding: 2rem;
    }
    img{
      max-width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}



// FORMULARIO

.sectionFormulario {
  @include mixins.flex-center(column);
  padding: 1rem;

  .tituloContacto {
    font-size: 4rem;
    font-family: variables.$fuente-principal;
    text-align: center;
    background-color: variables.$blanco;
    color: black;
    padding: 2rem;
    width: 100%;
  }

  .formulario {
    @include mixins.flex-center(column, flex-start);
    width: 80%;
    background-color: variables.$blanco;
    padding: 25px;
    height: 30rem;
    border-radius: 5px;
    margin-bottom: 10rem;
   align-items: flex-start;
   margin-top: 5rem;

    .label {
      width: auto;
      font-size: 1.2rem;
      font-family: variables.$fuente-secundaria;
      text-align: start;
      justify-content: start;
    }

    input, .msj {
      width: 100%;
      border: 1px solid variables.$gris-borde;
      border-radius: 5px;
      font-size: larger;
      margin-bottom: 20px;
    }

    input {
      height: 3rem;
    }

    .msj {
      min-height: 6rem;
      margin-bottom: 2rem;
    }

    .btn {
      background-color: variables.$negro;
      width: 100%;
      height: 3rem;
      color: variables.$blanco;
      border-radius: 5px;
      border: none;
    }
  }
}



// FOOTER

.footer {
  background-color: variables.$blanco;
  width: 100%;
  height: 3rem;
  @include mixins.flex-center(row, space-between);
  padding: 8px;
  box-sizing: border-box;

  p {
    min-width: 15%;
    margin-right: 4rem;
    text-align: end;
  }

  .linkFooter{
    text-decoration: none;
  }

  .grupoIconos {
    margin-left: 4rem;
    min-width: 15%;

    .redIcono {
      height: 2rem;
      margin-left: 1rem;
    }
  }
}

.contienerConsulta{
  min-height: 90vh;
  height: 30rem;
  background-color: variables.$blanco;
  @include mixins.flex-center(column, flex-start);
  align-items: center;
  justify-content: center;
  .tituloConsulta{
  text-transform: uppercase;
  font-family: variables.$fuente-principal;
  }
  .btn-volver{
    background-color: variables.$oro;
    color: variables.$negro;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;

  }
}



// MENU MOBILE

.menu-mobile {
  display: none;}

  @media only screen and (max-width: 767px) {
    .menu-mobile{
        display: flex;
        }
        .listaMenu{display: none;}
          .galeria{
            display: flex;
            flex-direction: column;
            }  
            .navbar{
               align-items: center;
               justify-content: center;
                
            }
            .footer{
              height: auto;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
            .footer .grupoIconos{ 
              margin-left: 0;
            }
            .footer p{
              text-align: center;
              margin-right: 0;
            }
            
        }

@media only screen and (max-width: 1280px){
    .galeria{grid-template-columns: repeat(2, 1fr);}
}